@charset "UTF-8";
/*
 *  charset @-規則：宣告CSS使用的文字編碼。
 *  import @-規則：將其他位置的樣式表import到此樣式表
 */
/*
 * CSS樣式表範本
 *  CSS樣式表用途：。
 *  CSS樣式表版本：0.00(0)
 *  CSS樣式表範本版本：1.01(1)201112012353
 *  CSS創作者：林博仁(Henry Lin, pika1021@gmail.com)
 *  此CSS使用的智慧財產授權：自由使用(free)
 * 已知問題：
 *
 * 待辦事項：
 *
 */
#div_header{
  position:absolute;
}
#div_header_right{
  position:absolute;
  /*top:0px;*/
  right:0px;
}
#div_header_center{
  position:absolute;
  /*top:0px;*/
}
#div_header_left{
  position:absolute;
  /*top:0px;*/
  left:0px;
}
.div_content{
  text-align:center;

}
@media screen{

}
@media print{

}
